@import url('https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster');

nav .nav-header .brand {
    color: #ffc107;
    font-size: 25px;
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
    font-weight: 700;
    letter-spacing: 0.1em;
    width: auto;

    i {
        color: #111111;
    }
}

.section {
    display: none;
}

body {

    .modal__container {
        background-color: #fff;
        padding: 30px;
        max-height: 100vh;
        border-radius: 4px;
        overflow-y: auto;
        box-sizing: border-box;

        &.modal-xl {
            width: 80%;
            max-height: 100vh;
        }

        &.modal-lg {
            width: 70%;
            max-height: 100vh;
        }

        &.modal-md {
            width: 60%;
            max-height: 100vh;
        }

        &.modal-md {
            width: 50%;
            max-height: 100vh;
        }
    }

    .alert {
        display: none;
    }
}
