.image-changer-wrapper {
    position: relative;
    width: 200px;
  
    .img-overlay {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      width: 100%;
  
      z-index: 999;
      background-color: rgba(130, 130, 130, 0.4);
      font-size: 10px;
      text-align: center;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
      color: white;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      -webkit-transition: background-color 1s; /* Safari */
      transition: background-color 1s;
  
      &:hover {
        background-color: rgba(130, 130, 130, 0.9);
      }
  
      i {
        color: white;
        font-size: 30px;
        cursor: pointer;
      }
    }
  
    .new-img-upload {
      display: none;
    }
  
    img {
      width: 100%;
      height: auto;
      z-index: 1;
    }
  }