@import url("https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster");
nav .nav-header .brand {
  color: #ffc107;
  font-size: 25px;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
  font-weight: 700;
  letter-spacing: 0.1em;
  width: auto; }
  nav .nav-header .brand i {
    color: #111111; }

.section {
  display: none; }

body .modal__container {
  background-color: #fff;
  padding: 30px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box; }
  body .modal__container.modal-xl {
    width: 80%;
    max-height: 100vh; }
  body .modal__container.modal-lg {
    width: 70%;
    max-height: 100vh; }
  body .modal__container.modal-md {
    width: 60%;
    max-height: 100vh; }
  body .modal__container.modal-md {
    width: 50%;
    max-height: 100vh; }

body .alert {
  display: none; }

.image-changer-wrapper {
  position: relative;
  width: 200px; }
  .image-changer-wrapper .img-overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 999;
    background-color: rgba(130, 130, 130, 0.4);
    font-size: 10px;
    text-align: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: background-color 1s;
    /* Safari */
    transition: background-color 1s; }
    .image-changer-wrapper .img-overlay:hover {
      background-color: rgba(130, 130, 130, 0.9); }
    .image-changer-wrapper .img-overlay i {
      color: white;
      font-size: 30px;
      cursor: pointer; }
  .image-changer-wrapper .new-img-upload {
    display: none; }
  .image-changer-wrapper img {
    width: 100%;
    height: auto;
    z-index: 1; }
