<div class="w-full md:w-1/2 lg:w-1/3 my-3 px-2 game-card">
    <div class="h-32 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
        style="background-image: url('{{game.photo}}')" title="profile image">
    </div>
    <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
        <div class="">
            <div class="text-black font-bold text-sm">
                <table>
                    <tr>
                        <td colspan="2"><a href="/#/games/{{game.id}}">{{game.name}}</a></td>
                    </tr>
                    <tr>
                        <td colspan="2">{{game.leagues.length}} Leagues</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{game.teams.length}} Teams</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{game.upcoming_matches.length}} Upcoming events</td>
                    </tr>
                </table>
            </div>
            <p class="text-grey-darker text-base">{{game.description}}</p>
            <div class="flex items-center">
                {{#if permissions.edit_permission}}
                <button
                    class="shadow bg-purple hover:bg-purple-light focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded edit"
                    data-id="{{game.id}}">edit</button>
                {{/if}}

                {{#if permissions.delete_permission}}
                <button
                    class="shadow bg-purple hover:bg-purple-light focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 mx-3 rounded delete"
                    data-id="{{game.id}}">delete</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>