<div class="w-full league-table-card">
    <table>
        <tr>
            <td colspan="2"><a href="/#/games/{{game.id}}">{{game.name}}</a></td>
        </tr>
        <tr>
            <td colspan="2">{{game.leagues.length}} Leagues</td>
        </tr>
        <tr>
            <td colspan="2">{{game.teams.length}} Teams</td>
        </tr>
        <tr>
            <td colspan="2">{{game.upcoming_matches.length}} Upcoming events</td>
        </tr>
    </table>
</div>