<div class="w-full my-3 match-card">
    <div class="h-32 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
        style="background-image: url('{{event.photo}}')" title="profile image">
    </div>
    <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
        <div class="">
            <div class="text-black  text-base">
                <table>
                    <tr>
                        <td>Event Title : </td>
                        <td>{{event.name}}</td>
                    </tr>
                    <tr>
                        <td>Venue</td>
                        <td>{{event.venue}}</td>
                    </tr>
                    <tr>
                        <td>Time</td>
                        <td>{{event.start_at}}</td>
                    </tr>
                    <tr>
                        <td>League</td>
                        <td>{{event.match.league.name}}</td>
                    </tr>
                    {{#if event.match.results}}
                    <tr>
                        <td colspan="2">
                            <span>
                                <span class="block">
                                    {{event.match.team_a.name}}
                                </span>
                                <span class="block">
                                    {{event.match.results.team_a_score}}
                                </span>
                            </span>
                            VS
                            <span>
                                <span class="block">
                                    {{event.match.team_b.name}}
                                </span>
                                <span class="block">
                                    {{event.match.results.team_b_score}}
                                </span>
                            </span>
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="2">{{event.match.team_a.name}} VS {{event.match.team_b.name}}</td>
                    </tr>
                    {{/if}}
                </table>
            </div>
            <p class="text-grey-darker text-base">{{event.match.description}}</p>
            <div class="flex items-center">
                {{#if permissions.edit_permission}}
                <button
                    class="shadow bg-purple hover:bg-purple-light focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded edit"
                    data-id="{{event.match.id}}">edit</button>
                {{/if}}

                {{#if permissions.delete_permission}}
                <button
                    class="shadow bg-purple hover:bg-purple-light focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 mx-3 rounded delete"
                    data-id="{{event.match.id}}">delete</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>