<div class="w-1/2 my-3 px-2 player-card">
    <div class="h-32 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
        style="background-image: url('{{player.photo}}')" title="profile image">
    </div>
  <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="">
      <div class="text-black font-bold text-sm">
          <table>
              <tr>
                  <td colspan="2" >{{player.user.name}}</td>
              </tr>
              <tr>
                  <td colspan="2">Since {{player.contract_start}}</td>
              </tr>
              <tr>
                  <td colspan="2">Contract ending on {{player.contract_end}}</td>
              </tr>
              <tr>
                  <td>Position</td>
                  <td> : {{player.position}}</td>
              </tr>
              <tr>
                  <td>Number</td>
                  <td> : {{player.number}}</td>
              </tr>
          </table>
      </div>
      <p class="text-grey-darker text-base">{{player.description}}</p>
          <div class="flex items-center">
          {{#if permissions.edit_permission}}
              <button class="shadow bg-purple hover:bg-purple-light focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded edit" data-id="{{player.id}}">edit</button>
          {{/if}}

          {{#if permissions.delete_permission}}
              <button class="shadow bg-purple hover:bg-purple-light focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 mx-3 rounded delete"  data-id="{{player.id}}">delete</button>
          {{/if}}
    </div>
    </div>
  </div>
</div>