<div class="w-full my-3 season-card">
  <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="">
      <div class="text-black font-bold text-sm">
          <table>
              <tr>
                  <td>League : </td>
                  <td>{{league}}</td>
              </tr>
              <tr>
                  <td>Begins : </td>
                  <td>{{season.start_at}}</td>
              </tr>
              <tr>
                  <td>Ends : </td>
                  <td>{{season.end_at}}</td>
              </tr>
               <tr>
                  <td colspan="2"><a href="/#/seasons/{{season.id}}">View Matches</a></td>
              </tr>
          </table>
      </div>
    </div>
  </div>
</div>