<div class="w-full md:w-1/2 lg:w-1/3 my-3 px-2 team-card">
    <div class="h-32 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"
        style="background-image: url('{{team.photo}}')" title="profile image">
    </div>
  <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="">
      <div class="text-black font-bold text-sm">
          <table>
              <tr>
                  <td colspan="2"><a href="/#/teams/{{team.id}}">{{team.name}}</a></td>
              </tr>
              <tr>
                  <td>Founded</td>
                  <td> : {{team.birthdate}}</td>
              </tr>
              <tr>
                  <td>Home Studium</td>
                  <td> : {{team.home_studium}}</td>
              </tr>
          </table>
      </div>
      <p class="text-grey-darker text-base">{{team.description}}</p>
          <div class="flex items-center">
          {{#if permissions.edit_permission}}
              <button class="shadow bg-purple hover:bg-purple-light focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded edit" data-id="{{team.id}}">edit</button>
          {{/if}}

          {{#if permissions.delete_permission}}
              <button class="shadow bg-purple hover:bg-purple-light focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 mx-3 rounded delete"  data-id="{{team.id}}">delete</button>
          {{/if}}
    </div>
    </div>
  </div>
</div>