<div class="w-1/2 lg:flex my-3 member-card">
  <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('{{user.photo}}')" title="profile image">
  </div>
  <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="">
      <div class="text-black font-bold text-sm">
          <table>
              <tr>
                  <td>Name : </td>
                  <td>{{user.name}}</td>
              </tr>
              <tr>
                  <td>Email : </td>
                  <td>{{user.email}}</td>
              </tr>
              <tr>
                  <td>Phone : </td>
                  <td>{{user.phone}}</td>
              </tr>
          </table>
      </div>
      <p class="text-grey-darker text-base">{{user.description}}</p>
          <div class="flex items-center">
          {{#if permissions.edit_permission}}
              <button class="shadow bg-purple hover:bg-purple-light focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded edit" data-id="{{user.id}}">edit</button>
          {{/if}}

          {{#if permissions.delete_permission}}
              <button class="shadow bg-purple hover:bg-purple-light focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 mx-3 rounded delete"  data-id="{{user.id}}">delete</button>
          {{/if}}
    </div>
    </div>
  </div>
</div>